<ccrm-ui-navbar-sub>
  <button ccrmUiNavbarSubItem (click)="onCreateAccount()"><fa name="plus"></fa> <span i18n="A new account in the context of sales and prospects">Skapa</span></button>
</ccrm-ui-navbar-sub>

<ccrm-ui-spinner *ngIf="uiState.isLoading"></ccrm-ui-spinner>

<div *ngIf="!uiState.isLoading && uiState.hasErrors" class="container mt-2 text-center">
    <div class="container bg-faded">
        <fa name="exclamation"></fa> <h2 class="lead"> Kunde inte hämta kundinformation</h2>
    </div>
</div>

<div *ngIf="!uiState.isLoading && !uiState.hasErrors">
    <ccrm-tabs>
        <ccrm-tabs-tab header="Kunder">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <td>Senast uppdaterad</td>
                        <td>Ansvarig</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let account of accounts" (click)="onAccountClicked(account, $event)" role="button">
                        <td>{{ account.customer?.legalName || "okänt" }}</td>
                        <td>{{ account.dateModified | amCalendar }}</td>
                        <td>{{ account.manager?.user?.fullName || "-" }}</td>
                    </tr>  
                </tbody>
            </table>
        </ccrm-tabs-tab>

        <ccrm-tabs-tab header="Aktivitet">
            <div class="container pt-2">
                <ccrm-sales-accounts-list-view-all-statuses></ccrm-sales-accounts-list-view-all-statuses>
            </div>
        </ccrm-tabs-tab>
    </ccrm-tabs>
</div>