$action-bar-bg-color: $blue-gray-50;
$action-bar-opacity: 1.0;

$action-bar-item-border-color: $blue-gray-100;
$action-bar-item-text-color: $gray-900;
$action-bar-item-margin: 2pt;

$action-bar-item-hover-bg-color: $blue-gray-100;
$action-bar-item-active-bg-color: $blue-gray-200;

@include media-breakpoint-up(lg) {
  .action-bar-wrapper {
    bottom: 0rem;
    left: $nav-dark-width;
    right: 0px;
  }
}

@include media-breakpoint-down(md) {
  .action-bar-wrapper {
    bottom: 0px;
    left: 0px;
    right: 0px;

    .action-bar-item {
      padding: 1.25rem 1.50rem;
    }
  }
}

.action-bar-wrapper {
  position: fixed;
  
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 0;
  
  background-color: $action-bar-bg-color;
  opacity: $action-bar-opacity;

  box-shadow: 0px 0px 4px 1px #666;

  overflow-x: auto;

  z-index: 98;
  
  .action-bar-item {
    position: relative;

    padding: 1rem 1.25rem;

    font-size: 0.9rem;
    text-decoration: none;

    color: $action-bar-item-text-color;

    &:not(:disabled), &:not(.disabled) {
      &:hover {
        background-color: $action-bar-item-hover-bg-color;
      }

      &:active {
        background-color: $action-bar-item-active-bg-color;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid $action-bar-item-border-color;
    }
  }
}