//
//  
//

.workspace-wrapper {
  flex: 1;
  min-height: 100vh;
  padding: 0px;

  overflow: hidden;

  box-sizing: border-box;

  .workspace-columns {
      height: 100%;

      overflow-y: hidden;
  }

  .workspace-main-wrapper {
      overflow-y: auto;
  }

  .workspace-body {
      overflow-y: auto;
      
      padding-bottom: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  .workspace-wrapper {
    .workspace-padding {
      padding-left: $nav-dark-width;
    }
  }
}

@include media-breakpoint-down(md) {
  .workspace-wrapper {
    .workspace-body {
      padding-top: 4rem;
    }
  }
}