<ccrm-ui-navbar-sub>
    <a ccrmUiNavbarSubItem routerLink="/sales/accounts" role="button"><fa name="angle-left"></fa> <span i18n>Back</span></a>
    <span class="page-navbar-separator"></span>
</ccrm-ui-navbar-sub>

<div [@routeTransition] *ngIf="viewState.isLoading">
    <ccrm-ui-spinner></ccrm-ui-spinner>
</div>

<div [@routeTransition] *ngIf="!viewState.isLoading">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="container">
                <ng-container *ngIf="account && account.statuses">
                    <ccrm-sales-accounts-blank-status-item [account]="account"></ccrm-sales-accounts-blank-status-item>

                    <ccrm-sales-accounts-status-item *ngFor="let status of getSortedAccountStatuses(account.statuses)" [account]="account" [status]="status"></ccrm-sales-accounts-status-item>
                </ng-container>
            </div>
        </div>

        <div class="col-md-4 lg-vh-100 pt-4 pl-2 pr-2 justify-content-end bg-faded">
            <!-- People of Interest -->
            <div class="container-fluid overflow-hidden">
                <ng-container *ngIf="account">
                    <div [@tabsTabTransition] class="container-fluid">
                        <ng-container *ngIf="account">
                            <div class="row mb-5">
                                <div class="col">
                                    <span class="text-muted d-block">Account</span>

                                    <span *ngIf="account.displayName">{{ account.displayName }}</span>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="account.peopleOfInterest && account.peopleOfInterest.length > 0">
                            <div *ngFor="let person of account.peopleOfInterest">
                                <ccrm-sales-accounts-person-of-interest [person]="person"></ccrm-sales-accounts-person-of-interest>
                            </div>
                        </ng-container>

                        <div class="row person-card pt-1 pb-1">
                            <div class="col">
                                <button (click)="clickAddPersonOfInterest()" class="btn btn-link pl-0 pr-0" role="button"><fa name="plus"></fa>Contact</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<router-outlet name="modal"></router-outlet>