<ccrm-ui-navbar-sub>
    <a ccrmUiNavbarSubItem role="button" tooltip="Internal log message" (click)="onComposerSelected('log')"><fa name="calendar-o"></fa> <span class="small">Log</span></a>
    <a ccrmUiNavbarSubItem role="button"><fa name="envelope"></fa> <span class="small">Email</span></a>
</ccrm-ui-navbar-sub>

<ccrm-ui-spinner *ngIf="uiState.isLoading"></ccrm-ui-spinner>

<div *ngIf="!uiState.isLoading && uiState.hasErrors" class="container mt-2 text-center">
    <div class="container d-flex flex-row p-3 bg-danger text-white">
        <fa name="exclamation-circle"></fa>
           
        <h2 class="lead ml-2 mb-0"> Kunde inte hämta kundinformation</h2>
    </div>
</div>

<div *ngIf="uiState.isComplete">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="container">
                <router-outlet name="compose"></router-outlet>

                <ng-container *ngIf="account && account.statuses">
                    <ccrm-sales-accounts-status-item *ngFor="let status of getSortedAccountStatuses(account.statuses)" [account]="account" [status]="status"></ccrm-sales-accounts-status-item>
                </ng-container>

                <ng-container *ngIf="account && account.statuses.length === 0">
                    <h2 class="display-4 text-muted align-self-center text-center mt-3">There is nothing here</h2>
                </ng-container>
            </div>
        </div>

        <div class="col-md-4 lg-vh-100 p-2 justify-content-end bg-faded" style="border-left: 1px solid #e2e2e2">
            <!-- People of Interest -->
            <div class="container-fluid overflow-hidden">
                <ng-container *ngIf="account">
                    <div class="container-fluid">
                        <ng-container *ngIf="account">
                            <div class="row mb-5">
                                <div class="col pt-2">
                                    <h3 *ngIf="account.customer.legalName; else customerNameNull">{{ account.customer.legalName }}</h3>

                                    <ng-template #customerNameNull>
                                        <h3 class="muted">Account</h3>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="account.peopleOfInterest && account.peopleOfInterest.length > 0">
                            <div *ngFor="let person of account.peopleOfInterest">
                                <ccrm-sales-accounts-person-of-interest [person]="person" (onPersonDeleted)="onPersonDeleted($event)"></ccrm-sales-accounts-person-of-interest>
                            </div>
                        </ng-container>

                        <div class="row person-card pt-1 pb-1">
                            <div class="col">
                                <button (click)="clickAddPersonOfInterest()" class="btn btn-link pl-0 pr-0" role="button"><fa name="plus"></fa>Contact</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<router-outlet name="modal"></router-outlet>