<div class="container-fluid pl-0 pr-0">
    <div class="list-group">
        <div
            *ngFor="let lead of leads"
            class="list-group-item list-group-item-action border-0 flex-column align-items-start"
            (click)="onLeadClicked(lead, $event)"
            role="button">
            <div class="d-flex flex-row flex-wrap w-100 justify-content-between">
                <h6 class="mb-1">
                    {{ lead.customer?.legalName || "Okänt" }}
                </h6>

                <span class="text-muted">{{ lead.dateCreated | amCalendar }}</span>
            </div>

            <div class="d-flex flex-row justify-space-between" *ngIf="lead.source">
                <div>
                    <span class="text-muted">Hämtades från</span> {{ lead.source.displayName }}
                </div>
            </div>
        </div>
    </div>
</div>

<modal-container id="accounts_leads_leadCard" [state]="modalOpen$" class="modal-lg">
    <ccrm-sales-accounts-lead-card
        [lead]="selectedLead"
        (onImported)="onAccountImported.emit($event)"
        (onClosed)="onModalOpen.emit(null)">
    </ccrm-sales-accounts-lead-card>
</modal-container>
