<div class="card">
    <div class="card-block">
        <h4 class="card-title mb-1">{{ account.customer?.legalName }}</h4>
        <span class="mb-2 small text-muted" tooltip="Senast uppdaterad">
            <ng-container *ngIf="account.dateModified">
                <fa name="clock-o"></fa> {{ account.dateModified | date }}
            </ng-container>
        </span>

        <div class="card-text mb-3">
            <ng-container *ngIf="account.manager?.isMe">
                <span class="badge badge-primary">Hanteras av mig</span>
            </ng-container>
        </div>

        <a href="#" class="card-link" role="button" (click)="clickAccount()">Öppna</a>
    </div>
</div>