<div class="page-navbar container-fluid d-flex flex-row" style="overflow:visible">
    <div class="dropdown" *ngIf="dropdown">
        <button class="btn btn-link" type="button" id="dropdownToolbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
            <fa name="bars" size="2x"></fa>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownToolbar">
            <ng-content select="[dropdown]"></ng-content>
        </div>
    </div>

    <ng-container *ngIf="!dropdown">
        <ng-content select="[not-dropdown]"></ng-content>
    </ng-container>
</div>

