<ng-container *ngIf="!isEditing; else isEditingBlock">
    <ng-content></ng-content>
    <a href="#" (click)="clickEditLink($event)"><fa name="pencil" class="edit-link"></fa></a>
</ng-container>


<ng-template #isEditingBlock>
    <form #inlineEditorForm class="form-inline" (ngSubmit)="onEditorInputSubmit(inlineEditorInput.value)">
        <div [@fadeIn]="isEditing" class="input-group">
            <input #inlineEditorInput autocomplete="off" class="form-control p-1" type="text" [placeholder]="placeholder" (blur)="onEditorInputSubmit(inlineEditorInput.value)" [(ngModel)]="model" name="model" />
        </div>
    </form>
</ng-template>
