:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 1;

  .form {
    flex: 1;
  }

  &:hover {
    .edit-link {
      visibility: visible;
    }
  }
}

.edit-link {
  margin-left: 0.25rem;
  visibility: hidden;
  &.force {
    visibility: visible;
  }
}
