<nav class="navbar navbar-light mb-0 pb-0">
    <a class="navbar-brand mb-0" routerLink="/">
        Comdo Market Relations
    </a>

    <ul class="nav nav-tabs">
        <ng-container *ngFor="let item of items">
          <li navbar-item *ngIf="item.mainNav && ( !item.children || item.children?.length == 0)" class="nav-item">
              <a class="nav-link" [routerLink]="item.href" [routerLinkActiveOptions]="{exact:false}" routerLinkActive="active"><fa [name]="item.faIcon"></fa> {{ item.text }}</a>
          </li>

          <li class="nav-item dropdown" *ngIf="item.mainNav && item.children?.length > 0">
            <a class="nav-link dropdown-toggle" href="#" (click)="onLinkClick(true)" [class.active]="isParentActive(item.path)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><fa [name]="item.faIcon"></fa> {{ item.text }}</a>
            <div class="dropdown-menu">
              <ng-container *ngFor="let child of item.children">
                <a navbar-item *ngIf="child.mainNav" class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="child.href">{{ child.text }}</a>
              </ng-container>
            </div>
          </li>
        </ng-container>
    </ul>
</nav>
