<div class="card border-0 status-item-container mb-3" *ngIf="status && !status.isRemoved">
  <div [@slideDownTransition] [class.opacity-70]="status.isDelayed">
    <div class="card-header bg-transparent d-flex flex-row justify-content-between">
      <h4 class="card-title mb-0">{{ status.messageHeader }}</h4>
      <ng-template #removeStatusConfirmation>
          <span class="small" i18n>Är du säker?
            <button (click)="onStatusDeleted.emit({ account: account, status: status })" class="btn btn-danger btn-sm" role="button">Ta bort</button>
          </span>
        </ng-template>

        <a class="text-dark close-link no-underline color-black ml-2" [popover]="removeStatusConfirmation" placement="left" container="body"
          role="button">
          &times;
        </a>
    </div>

    <div class="card-body">
      <p [@messageTextTransitions]="statusMessage?.messageText" class="card-text">
        {{ statusMessage.messageText }}

        <a href="#" *ngIf="statusMessage.canTrim && statusMessage.trimmed" role="button" (click)="showAllStatusMessageText($event)">(läs hela)</a>
      </p>

      <div class="d-flex flex-column align-items-start" *ngIf="!lightMode">
        <span class="text-muted" [innerHTML]="status.messageFooter"></span>
        <a *ngIf="status.metadata" [href]="status.metadata.sourceUrl" target="_blank" class="small">{{ status.metadata.sourceUrl }}</a>
      </div>

      <p class="card-text">
        <small class="mt-1 small text-muted" [class.text-warning]="status.isDelayed">
            <span [tooltip]="status.publicationDate | amDateFormat:'YYYY-MM-DD HH:mm'"
            placement="top" container="body">{{ status.publicationDate | amTimeAgo }}</span>
            <span *ngIf="status.publishedBy"> av <span class="text-dark">{{ status.publishedBy?.fullName }}</span></span>
        </small>
      </p>

      <!-- <ng-container *ngIf="!lightMode">
        <ng-container *ngIf="status.userTasks">
          <div class="mt-4"></div>

          <ng-container *ngFor="let userTask of status.userTasks">
            <div class="small">
              <span class="text-muted">
                <fa name="calendar"></fa>
                <span *ngIf="userTask.reminderDate" [tooltip]="userTask.reminderDate | date:'y-MM-dd'">{{ userTask.reminderDate | amCalendar }}</span>
              </span>
              <span *ngIf="userTask.displayName">{{ userTask.displayName }}

                <ng-template #removeStatusUserTaskConfirmation>
                  <span class="small" i18n>Är du säker?
                    <button class="btn btn-danger btn-sm" role="button" (click)="onUserTaskDeleted.emit({ account: account, status: status, userTask: userTask })">Ta bort</button>
                  </span>
                </ng-template>

                <a class="no-underline color-black ml-2" [popover]="removeStatusUserTaskConfirmation" placement="right" role="button">
                  &times;
                </a>
              </span>
            </div>
          </ng-container>
        </ng-container> -->

        <!-- <ccrm-sales-accounts-status-add-reminder-inline [account]="account" [status]="status" (onUserTaskAdded)="onUserTaskAdded.emit($event)"></ccrm-sales-accounts-status-add-reminder-inline> -->
      <!-- </ng-container> -->
    </div>
  </div>
</div>
