<app-page-navbar>
  <button appPageNavbarItem><fa name="plus"></fa> Account</button>
</app-page-navbar>

<div class="container-fluid">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><fa name="history" aria-hidden="true"></fa> Last contact</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let account of accounts" (click)="onOpenAccount(account?.id)" role="button">
        <th scope="row">2017</th>
        <td>{{ account.name }}</td>
      </tr>
    </tbody>
  </table>
</div>