<ccrm-ui-navbar-sub>
    <button ccrmUiNavbarSubItem (click)="onModalOpen.emit('modal_accounts_initialEditor')"><fa name="plus"></fa> <span i18n="A new account in the context of sales and prospects">Skapa</span></button>
</ccrm-ui-navbar-sub>

<ccrm-tabs>
    <ccrm-tabs-tab header="Kunder">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Namn</th>
                    <td>Senast uppdaterad</td>
                    <td>Ansvarig</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let account of accounts" (click)="onAccountClicked(account, $event)" role="button">
                    <td>{{ account.customer?.legalName || "okänt" }}</td>
                    <td>{{ account.dateModified | amCalendar }}</td>
                    <td>{{ account.manager?.user?.fullName || "-" }}</td>
                </tr>  
            </tbody>
        </table>
    </ccrm-tabs-tab>

    <ccrm-tabs-tab header="Aktivitet">
        <div class="container pt-2">
            <ccrm-sales-accounts-list-view-all-statuses></ccrm-sales-accounts-list-view-all-statuses>
        </div>
    </ccrm-tabs-tab>
</ccrm-tabs>

<modal-container id="modal_accounts_initialEditor" [state]="modalOpen$">
    <ccrm-sales-accounts-details-initial-editor (onClosed)="onModalOpen.emit(null)"></ccrm-sales-accounts-details-initial-editor>
</modal-container>