.side-panel-container {
  height: 100%;
  padding: 1rem !important;
}

.text-block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-block {
  margin: 1rem;

  .text-block-label {
    display: block;

    font-weight: 300;
    font-size: 0.8rem;

    color: #666;
  }

  .text-block-text {
    display: block;

    color: #000;
  }
}