<div class="row">
    <div class="col-1">
        <div class="row d-flex flex-row justify-content-center min-max-width-1-5 minh-100">
            <div class="col d-flex flex-column justify-content-center align-items-center minh-100 position-relative">
                <div class="h-100 bg-darkgray shape-border-vh-max margin-invert-left-1"></div>
            </div>
        </div>
    </div>

    <div class="col-11 pt-4 pb-4 transition-all transition-duration-500" [class.opacity-70]="!editState.isEditing">
        <form #statusForm="ngForm" (ngSubmit)="onFormSubmit(statusForm)">
            <div class="form-group mb-2">
                <input 
                    required
                    minlength="4"
                    maxlength="128"
                    class="form-control"
                    i18n-placeholder
                    placeholder="Something new related to this account?"
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()"
                    [(ngModel)]="status.headerText"
                    name="headerText"
                    autocomplete="off"/>
            </div>

            <div [@editorTransition] *ngIf="editState.isEditing">
                <div class="form-group" >
                    <textarea
                        class="form-control input-text-resize-none"
                        i18n-placeholder
                        placeholder="Optional detailed summary of the event..."
                        (focus)="onInputFocus()"
                        (blur)="onInputBlur()"
                        [(ngModel)]="status.messageText"
                        name="messageText">
                    </textarea>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (focus)="onInputFocus()"
                        (blur)="onInputBlur()"
                        role="button"
                        i18n>Save</button>
                </div>
            </div>
        </form>
    </div>        
</div>