<ccrm-ui-navbar-sub>
  <button ccrmUiNavbarSubItem><fa name="plus"></fa> <span i18n="A new account in the context of sales and prospects">New account</span></button>
</ccrm-ui-navbar-sub>

<ccrm-ui-spinner *ngIf="uiState.isLoading"></ccrm-ui-spinner>

<div *ngIf="!uiState.isLoading && uiState.hasErrors" class="container mt-2 text-center">
    <div class="container bg-faded">
        <fa name="exclamation"></fa> <h2 class="lead"> Kunde inte hämta kundinformation</h2>
    </div>
</div>

<div *ngIf="!uiState.isLoading && !uiState.hasErrors">
    <div class="row no-gutters bg-faded">
        <div class="col-md-2"></div>

        <div class="col">
            <div class="container-fluid pt-2 pb-2">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button 
                            type="button" 
                            class="btn btn-secondary dropdown-toggle btn-sm" 
                            data-toggle="dropdown" 
                            aria-haspop="true" 
                            aria-expanded="false"
                            tooltip="Sortera"
                            i18n>...</button>

                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" i18n>Date of dead-line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-2 vh-100 pl-2 pr-2 justify-content-start bg-faded">
            <div class="container-fluid">
                <ng-container *ngFor="let account of accounts">
                    <ccrm-sales-accounts-status-item [account]="account" *ngFor="let status of account.statuses" [status]="status" [light]="true"></ccrm-sales-accounts-status-item>
                </ng-container>
            </div>
        </div>

        <div class="col-md-10">
            <div id="listView" class="container pt-2" style="position: relative">
                <ccrm-sales-accounts-list-view-item *ngFor="let account of accounts" [account]="account"></ccrm-sales-accounts-list-view-item>
            </div>
        </div>
        <!--<div class="col-md-4 vh-100 pt-5 pl-2 pr-2 justify-content-end bg-faded">
            <div class="container-fluid">
                <div class="mb-3">
                    <h5 class="display-5" i18n="The source of the account, i.e. where did the data come from">Source</h5>

                    <div class="input-group" *ngIf="accountSources">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspop="true" aria-expanded="false" [title]="listState.accountSource?.displayName || 'Any'">
                                <span *ngIf="listState.accountSource && listState.accountSource.displayName; else accountDisplayNameNull">{{ listState.accountSource.displayName | trim: 42 }}</span>
                                <ng-template #accountDisplayNameNull>
                                    <span i18n="Any account source">Any</span>
                                </ng-template>
                            </button>

                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item" (click)="resetAccountSource()" i18n="Any account source">Any</a>
                                <a href="#" class="dropdown-item" *ngFor="let source of accountSources" (click)="setAccountSource(source)">{{ source.displayName }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>