<div class="workspace-wrapper d-flex flex-column">
  <nav class="navbar navbar-dark bg-dark navbar-main">
    <button 
      class="navbar-toggler text-white border-0 align-self-start mr-auto pt-0 pb-0"
      type="button"
      aria-label="Öppna/stäng navigation"
      (click)="onNavigationToggle()">
      <fa name="bars" size="1x"></fa>
    </button>

    <a class="navbar-brand display-4 pt-0 pb-0" routerLink="/">
      <img src="assets/media/brand.svg" alt="ComdoCRM brand" width="32px" />
      <h5 class="navbar-brand-text ml-2 mb-0 font-weight-light">ComdoCRM</h5>
    </a>
  </nav>

  <div class="row no-gutters" style="flex: 1">
    <div #navMain [class.expanded]="layout.navigation.expanded" class="navbar-main-container p-0" id="navbarNav">
      <div class="navbar-header">
        <button
          class="navbar-toggler text-dark border-0 pt-0 pb-0"
          type="button"
          aria-label="Öppna/stäng navigation"
          (click)="onNavigationToggle()">
          <fa name="times" size="1x"></fa>
        </button>
      </div>

      <div class="navbar-header-brand">
          <a class="navbar-brand display-4 pt-0 pb-0" routerLink="/" (click)="onNavigationItemClicked$.emit(null)">
            <img src="assets/media/brand.svg" alt="ComdoCRM brand" width="48px" />
            <h5 class="mb-0 font-weight-light">ComdoCRM</h5>
          </a>
      </div>

      <ul class="navbar-main-nav nav nav-pills nav-fill">
        <li class="nav-item align-self-start" *ngFor="let route of routeItems" (click)="onNavigationItemClicked$.emit(null)">
          <a navItem class="nav-link" routerLinkActive="active" [routerLink]="route.href" role="button">
            <i *ngIf="route.faIcon" aria-hidden="true" [class]="'fa fa-' + route.faIcon + ' nav-link-icon'"></i>
            <span class="ml-2">{{ route.text }}</span>
          </a>
        </li>
      </ul>

      <div>
        <!-- Right-hand content -->
      </div>
    </div>

    <div class="col">
      <div class="container workspace-body pt-2 ml-auto mr-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<router-outlet name="account"></router-outlet>
