<nav class="navbar navbar-light transparent" [attr.section]="section">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Comdo Market Relations
            </a>
        </div>

        <ul class="nav nav-pills hidden-xl-up d-flex d-row justify-content-center">
            <navbar-mobile-item #navMarketing inline="true" section="marketing" href="/marketing" iconName="paper-plane-o" [active]="section == navMarketing.section"></navbar-mobile-item>
            <navbar-mobile-item #navLeads inline="true" section="leads" href="/leads" iconName="user-circle-o" [active]="section == navLeads.section"></navbar-mobile-item>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 hidden-md-down" style="min-width: 100px; max-width: 220px">
            <ul class="nav nav-pills flex-column">
                <navbar-item #navMarketing section="marketing" href="/marketing" iconName="paper-plane-o" [active]="section == navMarketing.section">Marketing</navbar-item>
                <navbar-item #navLeads section="leads" href="/leads" iconName="user-circle-o" [active]="section == navLeads.section">Leads</navbar-item>
            </ul>
        </div>

        <div class="col">
            <ng-content></ng-content>
        </div>
    </div>
</div>


