<div class="btn-group" dropdown placement="bottom right">
    <button dropdownToggle type="button" class="btn btn-secondary border-0 dropdown-toggle" role="button">
        <i class="fa fa-user"></i> <span class="caret"></span>
    </button>
    
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
        <a class="dropdown-item" href="#">Inställningar</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
            <a class="dropdown-item" href="#">Logga ut</a>
        </li>
    </ul>
</div>
