<div class="container text-center">
  <h4 class="text-danger">Kunde inte logga in</h4>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia erat vel ex congue, non egestas magna consequat.
    Vivamus neque nisl, dignissim nec elit id, molestie sodales eros. Donec tempus lacus quis erat euismod auctor. Maecenas
    pharetra, est sit amet fringilla consequat, erat mi mattis libero, quis lacinia libero nunc quis lacus. In et neque cursus
    lectus congue dictum. Nunc venenatis, elit nec tristique sodales, diam arcu pharetra augue, id maximus purus tortor eget
    tortor. Vivamus sodales mauris rutrum dui dignissim, vitae eleifend lacus dictum. Proin mollis a ligula quis tempus.
  </p>
</div>
