<div class="transition-all transition-duration-500" [class.opacity-70]="!state.isEditing">
    <form #taskForm="ngForm" (ngSubmit)="onFormSubmit(taskForm)" *ngIf="task">
        <div class="form-group mb-2">
            <input type="text" class="form-control border-0" placeholder="New task..." [(ngModel)]="task.displayName" name="displayName" (focus)="onEditorFocus()" />
        </div>

        <ng-container *ngIf="state.isEditing">
            <div [@editorTransition]>
                <div class="form-group">
                    <textarea class="form-control border-0 input-text-resize-none" placeholder="Task details" [(ngModel)]="task.summaryText" name="summaryText"></textarea>
                </div>           

                <div class="form-group d-flex justify-content-end">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        role="button"
                        i18n>Add</button>
                </div>
            </div>
        </ng-container>
    </form>
</div>