<div class="d-flex flex-row justify-content-center align-items-center pt-3 pb-1 bg-primary">
    <h2 class="lead text-white">ComdoCRM</h2>
</div>

<div class="d-flex flex-row">
    <div ccrmNavigation>
        <a 
            ccrmNavItem
            *ngFor="let route of items"
            [route]="route"
            [tooltip]="route.text"
            placement="right"
            [routerLink]="route.href"><fa *ngIf="route.faIcon" [name]="route.faIcon"></fa></a>
    </div>

    <div style="flex: 99;">
        

        <router-outlet></router-outlet>
    </div>
</div>