<div class="container">
    <ol class="breadcrumb pt-1 pb-1">
        <li class="breadcrumb-item"><a routerLink="/leads">Leads</a></li>
        <li class="breadcrumb-item active">{{ lead?.name }}</li>
    </ol>

    <div class="row">
        <div class="col col-md-12">
            <div class="nav justify-content-start">
                <leads-status-selector [lead]="lead" [statuses]="leadStatuses" (statusChanged)="onLeadStatusChanged($event)"></leads-status-selector>

                <button class="btn btn-outline-primary ml-2" (click)="openAddMessage()" role="button"><fa name="plus"></fa> Event</button>
            </div>

            <div class="mb-3 hidden-md-down"></div>

            <div class="row container">
                <div class="col col-md-12">
                    <div class="card card-body bg-faded border-0">
                        <h4 class="card-title m-2"><fa name="user-circle-o"></fa> {{ lead?.name }}</h4>

                        <div class="card-text row">
                            <p *ngIf="lead?.contact?.phone" class="col col-md-12 row"><span class="text-muted mr-2 col-4 col-sm-4">Phone</span> <span class="col-8 col-sm-8">{{ lead?.contact?.phone }}</span></p>
                            <p *ngIf="lead?.contact?.email" class="col col-md-12 row"><span class="text-muted mr-2 col-4 col-sm-4">E-mail</span> <span class="col-4 col-sm-4">{{ lead?.contact?.email }}</span></p>

                            <p *ngIf="lead?.contact == false">Nothing to show</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-12 mb-3 hidden-md-down"></div>

                <div class="col col-md-12">
                    <div class="card card-body bg-faded border-0">
                        <h4 class="card-title m-2"><fa name="building-o"></fa> {{ lead?.company?.name }}</h4>

                        <div class="card-text row">
                            <p *ngIf="lead?.company?.contact?.phone" class="col col-md-12 row"><span class="text-muted mr-2 col-sm">Phone</span> <span class="col-sm">{{ lead?.company?.contact?.phone }}</span></p>
                            <p *ngIf="lead?.company?.contact?.email" class="col col-md-12 row"><span class="text-muted mr-2 col-sm">E-mail</span> <span class="col-sm">{{ lead?.company?.contact?.email }}</span></p>

                            <p *ngIf="lead?.company?.contact == false" class="col col-md">Nothing to show</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 hidden-md-down"></div>

            <div class="container-fluid">
                <div class="navbar navbar-light bg-faded">
                    <h4 class="navbar-brand"><fa name="history"></fa> Timeline</h4>
                </div>

                <leads-timeline [items]="lead?.timeline"></leads-timeline>
            </div>
        </div>

        <div class="col col-md-12">
            <div class="container">
                <div class="navbar navbar-light bg-faded">
                    <h4 class="navbar-brand">Routines</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom bg-faded navbar-light hidden-md-up">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button role="button" class="btn btn-outline-primary btn-block" (click)="openAddMessage()"><fa name="plus"></fa> Timeline entry</button>
        </li>
    </ul>
</nav>