<div class="row bg-faded">
    <div class="col-1 hidden-sm-down">
        <div class="row d-flex flex-row justify-content-center min-max-width-1-5 minh-100">
            <div class="col d-flex flex-column justify-content-center align-items-center minh-100 position-relative">
                <div class="h-100 bg-darkgray shape-border-vh-max margin-invert-left-1"></div>
            </div>
        </div>
    </div>

    <div [@routeTransition] class="col pt-4 pb-4" *ngIf="account">
        <form #logForm="ngForm" (ngSubmit)="onFormSubmit(logForm)">
            <div class="row mb-3">
                <div class="col-11">
                    <h3 class="lead">Log entry</h3>
                </div>

                <div class="col-1">
                    <button type="button" class="close" (click)="onComposingFinished()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-8">
                    <div class="form-group mb-2">
                        <label for="logHeaderText" i18n>Short summary of the log entry</label>
                        <input 
                            #logHeaderText
                            id="logHeaderText"
                            required
                            minlength="4"
                            maxlength="128"
                            class="form-control border-0"
                            i18n-placeholder
                            placeholder="Summary, title, etc."
                            [(ngModel)]="status.messageHeader"
                            name="headerText"
                            autocomplete="off"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="logDelayDate">When to publish</label>

                        <p class="d-flex flex-row align-items-center">
                            <a
                                #logDelayDate="ccrmUiDatepicker"
                                id="logDelayDate"
                                ccrmUiDatepicker
                                (onDateChanged)="onLogDelayed($event)"
                                autoClose="true"
                                [startDate]="dateNextDay"
                                [(ngModel)]="status.delayDate"
                                name="delayDate"
                                class="d-block pt-2 pb-2 no-underline color-black"
                                role="button">
                                <fa name="calendar"></fa>

                                <ng-container *ngIf="!status.isDelayed">
                                    <span [@routeTransition] class="small text-muted">Publish now</span>
                                </ng-container>
                            </a>

                            <ng-container *ngIf="status.isDelayed">
                                <p [@routeTransition] class="pl-2 mb-0 small d-flex flex-row align-items-center">
                                    <span>
                                        <span class="text-muted">Publish on</span> {{ status.delayDate | date }}
                                    </span>
                                    <a 
                                        class="no-underline color-black ml-2"
                                        (click)="onLogDelayCancel()"
                                        role="button">
                                        &times;
                                    </a>
                                </p>
                            </ng-container>
                        </p>
                    </div>
                </div>
            </div>

            <div [@editorTransition] class="row">
                <div class="col-md-12">
                    <div>
                        <div class="form-group" >
                            <label id="logBodyText" i18n>Detailed description</label>
                            <textarea
                                id="logBodyText"
                                required
                                minlength="8"
                                maxlength="1024"
                                class="form-control border-0 input-text-resize-none"
                                i18n-placeholder
                                placeholder="Detailed description of the event, information, etc."
                                [(ngModel)]="status.messageBody"
                                name="messageText">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <ng-container *ngIf="userProfile">
                        <span class="small"><span class="text-muted">saving as</span> {{ userProfile.name }}</span>
                    </ng-container>
                </div>

                <div class="col-md-4">
                    <div class="form-group d-flex justify-content-end">
                        <button
                            type="submit"
                            class="btn btn-primary"
                            role="button"
                            i18n>Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>        
</div>