<div class="d-flex flex-row align-items-center p-2">
  <button type="button" class="btn btn-outline-primary btn-sm" role="button" routerLink="/sales/accounts"><fa name="caret-left"></fa> Kontakter</button>
  <h4 class="mb-0 ml-3">{{ account?.customer?.legalName }}</h4>
</div>

<ng-container *ngIf="account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 col-sm-12 bg-white pl-0 pr-0">
                <div class="pl-4 pr-4">
                    <ccrm-sales-accounts-status-composer-log
                        [isOpen]="composeLog.Open"
                        [account]="account"
                        (onSaved)="onStatusAdded.emit($event)"
                        (onClosed)="composeLog.close()">
                    </ccrm-sales-accounts-status-composer-log>
                </div>

                <div class="pl-4 pr-4 mt-2">
                  <div class="d-flex flex-row align-items-center">
                    <h6 class="mb-0 text-muted">Flöde</h6>

                    <button
                      type="button"
                      class="btn btn-outline-primary btn-sm ml-3"
                      role="button"
                      [class.active]="composeLog.Open === true"
                      (click)="composeLog.open()">
                      <fa name="plus"></fa>
                    </button>
                  </div>

                    <ng-container *ngIf="account.statuses">
                        <ccrm-sales-accounts-status-item *ngFor="let status of account.statuses" [account]="account" [status]="status"
                            (onStatusDeleted)="onStatusDeleted.emit($event)"
                            (onUserTaskAdded)="onUserTaskAdded.emit($event)"
                            (onUserTaskDeleted)="onUserTaskDeleted.emit($event)"></ccrm-sales-accounts-status-item>
                    </ng-container>

                    <ng-container *ngIf="!account.statuses.length">
                        <h2 class="display-4 text-muted align-self-center text-center mt-3">Här finns ingenting</h2>
                    </ng-container>
                </div>
            </div>

            <div class="col-sm-12 hidden-xl-up mb-2"></div>

            <div class="col-3 col-sm-12 bg-faded pl-4 pr-4 pt-3">
                <div class="row mb-3">
                    <div class="col-12">
                        <h5 class="text-muted">Ansvarig</h5>

                        <ng-select
                            #accountManagerSelector
                            [active]="getManagerSelectItem()"
                            [allowClear]="true"
                            [items]="usersAsSelect$ | async"
                            (selected)="onSelectManager($event)"
                            placeholder="Kundansvarig">
                        </ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-row">
                            <h5 class="text-muted">Kontaktpersoner</h5>
                            <span class="ml-2 text-muted"
                                tooltip="Kontaktuppgifter till personer inom företaget/sekundära kontaktuppgifter"
                                container="body">
                                <fa name="info-circle"></fa>
                            </span>
                        </div>

                        <ng-container *ngIf="account.peopleOfInterest && account.peopleOfInterest.length > 0">
                             <div *ngFor="let person of account.peopleOfInterest"
                                class="mb-2">
                                <ccrm-sales-accounts-person-of-interest
                                    [account]="account"
                                    [person]="person"
                                    (onPersonDeleted)="onPersonDeleted($event)">
                                </ccrm-sales-accounts-person-of-interest>
                             </div>
                        </ng-container>

                        <div class="row person-card pt-1 pb-1">
                            <div class="col">
                                <button (click)="onModalOpen.emit('modal_accounts_addPersonOfInterest')" class="btn btn-link pl-0 pr-0" role="button"><fa name="plus"></fa>Lägg till kontaktperson</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<modal-container id="modal_accounts_addPersonOfInterest" [state]="modalOpen$">
    <ccrm-accounts-add-person-of-interest [account]="account"
        (onSaved)="onPersonOfInterestAdded.emit($event)"
        (onClosed)="onModalOpen.emit(null)"></ccrm-accounts-add-person-of-interest>
</modal-container>

<router-outlet name="editor"></router-outlet>
<router-outlet name="contacts"></router-outlet>
<router-outlet name="reminders"></router-outlet>
