<ng-container *ngIf="account">
  <div class="pt-2 pb-2">
    <button type="button" class="btn btn-link pl-0 pr-0" routerLink="/sales/accounts"><fa name="caret-left"></fa> Kunder</button>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h4>{{ account.customer?.legalName }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 bg-white">
        <h4 class="font-weight-light text-muted">Flöde</h4>

      <ccrm-sales-accounts-status-composer-log [isOpen]="composeLog.Open" [account]="account" (onSaved)="onStatusAdded.emit($event)"
        (onClosed)="composeLog.close()">
      </ccrm-sales-accounts-status-composer-log>

      <div class="mt-2">
        <ng-container *ngIf="statuses">
          <ccrm-sales-accounts-status-item *ngFor="let status of statuses" [account]="account" [status]="status" (onStatusDeleted)="onStatusDeleted.emit($event)"
            (onUserTaskAdded)="onUserTaskAdded.emit($event)" (onUserTaskDeleted)="onUserTaskDeleted.emit($event)"></ccrm-sales-accounts-status-item>
        </ng-container>

        <ng-container *ngIf="!statuses.length">
          <h2 class="display-4 text-muted align-self-center text-center mt-3">...</h2>
        </ng-container>
      </div>
    </div>

    <div class="col-sm-4 border-sm-0" style="border-left: 1px solid #d8d8d8">
      <div class="row mb-3">
        <div class="col-12">
          <h4 class="text-muted font-weight-light mb-0">Kundansvarig</h4>

          <ng-container *ngIf="!account.manager?.user">
            <div class="pt-2 pb-2">
              <button
                type="button"
                role="button"
                class="btn btn-block btn-light btn-sm p-2 text-dark"
                [class.disabled]="composeLog.Open"
                (click)="onModalOpen.emit('modal_accounts_select-account-manager')">Tilldela</button>
            </div>
          </ng-container>

          <ng-container *ngIf="account.manager && account.manager.user">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <span>{{ account.manager.user.fullName }}</span>
              <button
                type="button"
                class="btn btn-link"
                (click)="onModalOpen.emit('modal_accounts_select-account-manager')">
                <fa name="pencil-square"></fa>
              </button>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <h4 class="text-muted font-weight-light mb-0">Kontaktpersoner</h4>
            <span class="ml-2 text-muted" tooltip="Kontaktuppgifter till personer inom företaget/sekundära kontaktuppgifter" container="body">
              <fa name="info-circle"></fa>
            </span>
          </div>

          <ng-container *ngIf="account.peopleOfInterest && account.peopleOfInterest.length > 0">
            <div *ngFor="let person of account.peopleOfInterest" class="mb-2">
              <ccrm-sales-accounts-person-of-interest [account]="account" [person]="person" (onPersonDeleted)="onPersonDeleted($event)">
              </ccrm-sales-accounts-person-of-interest>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div #actionBar class="action-bar-wrapper">
  <button
    type="button"
    class="btn btn-link action-bar-item"
    [class.disabled]="composeLog.Open"
    (click)="composeLog.open()">
      <span class="text-dark">+</span> <fa name="sticky-note"></fa> Händelse
    </button>

  <button
    type="button"
    class="btn btn-link action-bar-item"
    (click)="onModalOpen.emit('modal_accounts_addPersonOfInterest')">
      <span class="text-dark">+</span> <fa name="address-card"></fa> Kontakt
    </button>
</div>

<modal-container id="modal_accounts_addPersonOfInterest" [state]="modalOpen$">
  <ccrm-accounts-add-person-of-interest [account]="account" (onSaved)="onPersonOfInterestAdded.emit($event)" (onClosed)="onModalOpen.emit(null)"></ccrm-accounts-add-person-of-interest>
</modal-container>

<modal-container id="modal_accounts_select-account-manager" [state]="modalOpen$">
    <ccrm-select-user [users]="users" [multiple]="false" header="Välj kundansvarig"
      (onUsersSelected)="onAccountManagerSelected($event)"
      (onClosed)="onModalOpen.emit(null)"></ccrm-select-user>
</modal-container>

<router-outlet name="editor"></router-outlet>
<router-outlet name="contacts"></router-outlet>
<router-outlet name="reminders"></router-outlet>
