<div class="d-flex flex-row align-items-center p-2">
  <button type="button" class="btn btn-link btn-sm" role="button" routerLink="/sales/accounts">
    <fa name="caret-left"></fa> Kontakter</button>
  <h4 class="mb-0 ml-3">{{ account?.customer?.legalName }}</h4>
</div>

<ng-container *ngIf="account">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 bg-white pl-0 pr-0">
        <div class="pl-4 pr-4">
          <ccrm-sales-accounts-status-composer-log [isOpen]="composeLog.Open" [account]="account" (onSaved)="onStatusAdded.emit($event)"
            (onClosed)="composeLog.close()">
          </ccrm-sales-accounts-status-composer-log>
        </div>

        <div class="pl-4 pr-4 mt-2">
          <h6 class="mb-0 font-weight-light text-muted">Flöde</h6>

          <div class="bg-light d-flex flex-row justify-content-center mt-2 mb-2 p-2">
            <button
              type="button"
              role="button"
              class="btn btn-link text-muted"
              [class.disabled]="composeLog.Open"
              (click)="composeLog.open()">Lägg till</button>
          </div>

          <ng-container *ngIf="account.statuses">
            <ccrm-sales-accounts-status-item *ngFor="let status of account.statuses" [account]="account" [status]="status" (onStatusDeleted)="onStatusDeleted.emit($event)"
              (onUserTaskAdded)="onUserTaskAdded.emit($event)" (onUserTaskDeleted)="onUserTaskDeleted.emit($event)"></ccrm-sales-accounts-status-item>
          </ng-container>

          <ng-container *ngIf="!account.statuses.length">
            <h2 class="display-4 text-muted align-self-center text-center mt-3">...</h2>
          </ng-container>
        </div>
      </div>

      <div class="col-4 pl-4 pr-4 pt-3" style="border-left: 1px solid #d8d8d8">
        <div class="row mb-3">
          <div class="col-12">
            <h5 class="text-muted">Ansvarig</h5>

            <ng-container *ngIf="!account.manager?.user">
              <button
                type="button"
                class="btn btn-light btn-block"
                (click)="onModalOpen.emit('modal_accounts_select-account-manager')">
                Välj
              </button>
            </ng-container>

            <ng-container *ngIf="account.manager && account.manager.user">
              <div class="d-flex flex-row align-items-center justify-content-between">
                <span>{{ account.manager.user.fullName }}</span>
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="onModalOpen.emit('modal_accounts_select-account-manager')">
                  <fa name="pencil-square"></fa>
                </button>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="d-flex flex-row">
                <h5 class="text-muted">Kontaktpersoner</h5>
                <span class="ml-2 text-muted" tooltip="Kontaktuppgifter till personer inom företaget/sekundära kontaktuppgifter" container="body">
                  <fa name="info-circle"></fa>
                </span>
              </div>

              <button (click)="onModalOpen.emit('modal_accounts_addPersonOfInterest')" class="btn btn-outline-primary btn-sm" role="button">
                <fa name="plus"></fa>
              </button>
            </div>

            <ng-container *ngIf="account.peopleOfInterest && account.peopleOfInterest.length > 0">
              <div *ngFor="let person of account.peopleOfInterest" class="mb-2">
                <ccrm-sales-accounts-person-of-interest [account]="account" [person]="person" (onPersonDeleted)="onPersonDeleted($event)">
                </ccrm-sales-accounts-person-of-interest>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<modal-container id="modal_accounts_addPersonOfInterest" [state]="modalOpen$">
  <ccrm-accounts-add-person-of-interest [account]="account" (onSaved)="onPersonOfInterestAdded.emit($event)" (onClosed)="onModalOpen.emit(null)"></ccrm-accounts-add-person-of-interest>
</modal-container>

<modal-container id="modal_accounts_select-account-manager" [state]="modalOpen$">
    <ccrm-select-user [users]="users" title="Välj kundansvarig"
      (onUsersSelected)="onAccountManagerSelected($event)"
      (onClosed)="onModalOpen.emit(null)"></ccrm-select-user>
</modal-container>

<router-outlet name="editor"></router-outlet>
<router-outlet name="contacts"></router-outlet>
<router-outlet name="reminders"></router-outlet>
