@import 'variables'; 
@import './assets/styles/bootstrap/bootstrap';

html, body {
    cursor: default;
}

body {
    padding-bottom: 70px;
}

@import 'assets/styles/_navbar';
@import 'assets/styles/_sizing';

.vertical-align-middle {
    vertical-align: middle;
}

