.bg {
    &-white {
        background: #fff;
    }

    &-darkgray {
        background-color: #757575;
    }

    &-gray {
        &-light {
            background-color: #EEEEEE;
        }

        &-lighter {
            background-color: #FAFAFA;
        }
    }

    &-even {
        &-gray {
            &-light:nth-child(even) {
                background-color: #EEEEEE;
            }

            &-lighter:nth-child(even) {
                background-color: #FAFAFA;
            }
        }

        @include media-breakpoint-down(sm) {
            &-sm {
                &-gray {
                    &-light:nth-child(even) {
                        background-color: #EEEEEE;
                    }

                    &-lighter:nth-child(even) {
                        background-color: #FAFAFA;
                    }
                }
            }
        }
    }
}