.opacity {
    &-70 {
        opacity: 0.7;
    }
    &-80 {
        opacity: 0.8;
    }   
    &-90 {
        opacity: 0.9;
    }
    &-100 {
        opacity: 1;
    }
}

.margin {
    &-invert {
        &-left {
            &-1 {
                margin-left: -1px;
            }
        }
    }
}