.page-navbar {
  margin: 0 0 1em 0;
  padding: 0 1em 0 1em;

  border-bottom: 1px solid #ddd;

  .page-navbar-item {
    padding: 0.75em 1em;
    border-radius: 0;
    border-top: 0; border-bottom: 0; border-left: 0;

    border-color: #ddd;
    color: #111;

    .fa {
      margin-right: 0.25em;
      color: #BDBDBD;

      transition: .25s ease-in-out;
    }

    &:hover, &:focus {
      border-color: $brand-primary;
      color: #fff;

      .fa {
        color: #EEEEEE;
      }
    }
  }

  .page-navbar-separator {
    display: block;
    width: 25px;

    border-right: 1px solid #ddd;
  }
}

