@import "./bootstrap/_variables";

$nav-item-hover-bg-color: #1565C0;
$nav-item-active-bg-color: #0D47A1;

.main-navbar,
.module-navbar {
  .nav-link {
    border-radius: 0;

    &:not(.active) {
      color: #e2e2e2;
    }

    &:hover, &:focus, &:active, &.active {
      color: #fff;
    }
  }
}

.module-navbar {
  .nav-link {
    border-radius: 0;

    &:not(.active) {
      color: #e2e2e2;
    }

    &:hover, &:focus, &:active {
      background-color: $nav-item-hover-bg-color;
    }

    &.active {
      background-color: $nav-item-active-bg-color;
      color: #fff;
    }
  }
}

.module-navbar {
    background: $blue;
}

.page-navbar {
  margin: 0;
  padding: 0 1em 0 1em;

  background: $nav-item-active-bg-color;

  .page-navbar-item {
    padding: 0.75em 1em;
    border: 0;
    border-radius: 0;

    color: #e8e8e8;

    .fa {
      margin-right: 0.25em;
      color: #FEFEFE;
      font-size: 12px;
      vertical-align: middle;

      transition: .25s ease-in-out;

      &:after {
        vertical-align: middle;
      }
    }

    &:hover, &:focus {
        background: $nav-item-active-bg-color;
        color: #fff;

      .fa {
        color: #EEEEEE;
      }
    }
  }

  .page-navbar-separator {
    display: block;
    width: $spacer;
  }
}

