@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";



// Global

$nav-width: 75%;
$nav-transition-duration: 300ms;

$nav-header-toggler-transition-duration: 150ms;
$nav-header-toggler-transition-delay: $nav-transition-duration;

$nav-item-border-radius: 0;

//
//  Light theme, mobile side navigation.
//

$nav-bg-color: #fafafa;
$nav-border-color: $gray-200;

$nav-toggler-color: #222;

$nav-item-bg-color: transparent;
$nav-item-text-color: #444;

$nav-item-hover-bg-color: $gray-200;

$nav-item-active-bg-color: $gray-300;
$nav-item-active-text-color: #222;

//
//  Dark theme, desktop side navigation.
//

$nav-dark-toggler-color: #fafafa;

$nav-dark-bg-color: $gray-900;

$nav-item-dark-bg-color: $gray-800;
$nav-item-dark-text-color: #fefefe;

$nav-item-dark-active-bg-color: #fefefe;
$nav-item-dark-active-text-color: #222;

.nav-pills .nav-link {
  border-radius: $nav-item-border-radius;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    align-self: center;
  }
}

.show {
  & > .nav-pills .nav-link {
    background-color: $nav-item-active-bg-color;
  }
}

/*
  Larger viewports.

  Viewports: lg, xl
  Color theme: Dark
*/
@include media-breakpoint-up(lg) {
  .navbar-main {
    .navbar-toggler {
      display: none;
    }
  }

  .navbar-main-container {
    display: block;
    flex: 0 0 16.66666667%;
  
    min-width: 8rem;
    max-width: 10rem;
  
    background-color: $nav-dark-bg-color;

    .navbar-header {
      display: none;
    }

    .navbar-header-brand {
      display: none;
    }
  
    .navbar-main-nav.nav {
      margin-top: .5rem;

      .nav-item {
        .nav-link {
          background-color: $nav-item-dark-bg-color;
          color: $nav-item-dark-text-color;
  
          &.active {
            background-color: $nav-item-dark-active-bg-color;
            color: $nav-item-dark-active-text-color;
          }
  
          .nav-link-icon {
            font-size: 1rem;
          }
        }
  
        &:not(:last-child) {
          border-right: 1px solid #e2e2e2;
        }
      }
    }
  }
}

/*
  Smaller viewports.

  Viewports: med, sm, xs
  Color theme: Light
*/
@include media-breakpoint-down(md) {
  .navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .navbar-brand {
      display: none;
    }

    .navbar-toggler {
      margin: .5rem 0rem;
    }
  }

  .navbar-main-container {
    position: fixed;
    top: 0px;
    bottom: 0px;

    min-width: initial;
    max-width: 24rem;
    width: $nav-width;    

    background-color: $nav-bg-color;
    border-right: 1px solid $nav-border-color;

    transition: left $nav-transition-duration, opacity $nav-transition-duration, height 0s ease-in-out 0ms;

    z-index: 99;

    .navbar-header {
      display: block;
      padding: 0.9rem 1rem;

      .navbar-toggler {
        color: $gray-600;

        transition: opacity $nav-header-toggler-transition-duration ease-in $nav-header-toggler-transition-delay;
      }
    }

    .navbar-header-brand {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      padding: .5rem 0;

      .navbar-brand {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0;

        color: #666;
      }
    }

    &:not(.expanded) {
      left: -100%;
      opacity: 0;

      & > .navbar-header .navbar-toggler {
        opacity: 0;
      }
    }

    &.expanded {
      left: 0px;
      opacity: 1.0;

      & > .navbar-header .navbar-toggler {
        opacity: 1;
      }
    }

    .nav {
      padding-top: 0.75rem;

      .nav-item {
        flex: 1;

        text-align: left;

        .nav-link {
          padding: 0.66rem 1rem;

          &:not(.active) {
            background-color: $nav-item-bg-color;
            color: $nav-item-text-color;

            &:hover {
              background-color: $nav-item-hover-bg-color;
            }
          }

          &.active {
            background-color: $nav-item-active-bg-color;
            color: $nav-item-active-text-color;
          }
        }
      }
    }
  }
}