@import "./bootstrap/_variables";
@import 'bootstrap/mixins/breakpoints';

$nav-item-hover-bg-color: #1565C0;
$nav-item-active-bg-color: #0D47A1;

.sidebar-nav {
    display: block;
    flex: 1;

    background: #37474F;

    height: 100vh;
    
    .nav-heading {
        display: block;
        padding: 1rem;

        border-bottom: 1px solid #263238;

        .nav-brand {
            display: block;

            text-align: center;
            color: #f3f3f3;
        }

        .nav-tagline {
            display: block;
            margin-top: 0.5rem;

            color: #90A4AE;
            font-size: 16px;
            text-align: center;
        }
    }

    @include media-breakpoint-down(md) {
        .nav-heading {
            display: none;
        }

        a.nav-link {
            span {
                display: none;
            }
        }
    }

    a.nav-link {
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;

        &:not(.active) {
            color: #fafafa;

            .fa {
                color: #546E7A;
            }

            span {
                padding-left: 0.5rem;
            }
        }

        &.active {
            background: #263238;
            color: #fff;

            .fa {
                color: #90A4AE;
            }

            span {
                padding-left: 0.5rem;
            }
        }
    }
}

.main-navbar,
.module-navbar {
  .nav-link {
    border-radius: 0;

    &:not(.active) {
      color: #e2e2e2;
    }

    &:hover, &:focus, &:active, &.active {
      color: #fff;
    }
  }
}

.module-navbar {
  .nav-link {
    border-radius: 0;

    &:not(.active) {
      color: #e2e2e2;
    }

    &:hover, &:focus, &:active {
      background-color: $nav-item-hover-bg-color;
    }

    &.active {
      background-color: $nav-item-active-bg-color;
      color: #fff;
    }
  }
}

.module-navbar {
    background: $blue;
}

.page-navbar {
  margin: 0;
  padding: 0.5rem 1rem;

  background: #ECEFF1;

  .page-navbar-item {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0;
    flex: 0;

    color: #333;

    .fa {
      margin-right: 0.25em;
      color: #111;
      font-size: 12px;
      vertical-align: middle;

      transition: .25s ease-in-out;

      &:after {
        vertical-align: middle;
      }
    }

    &:hover, &:focus {
        background: #d2d2d2;
        color: #111;

      .fa {
        color: #000;
      }
    }
  }

  .page-navbar-separator {
    flex: 1;
  }
}

.tab-bar {
    padding: 0;

    .tab-item {
        display: inline-block;        
        list-style-type: none;

        .tab-link {
            display: inline-block;
            min-width: 3rem;
            padding: 0.5rem 1rem;

            font: 300 18px "Roboto";

            &:not(.active) {
                border-bottom: 1px solid transparent;
                color: #757575;

                &:hover {
                    color: #121212;
                }
            }

            &.active {
                border-bottom: 1px solid #121212;
                color: #121212;
            }

            transition: all .25s ease-in;
        }
    }
}