.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.position {
    &-coords {
        &-top-right {
            top: 0;
            right: 0;
        }
    }
}