$vertical-height-map: (
  25: (
    percent: 25,
    height: 25vh
  ),
  50: (
    percent: 50,
    height: 50vh
  ),
  75: (
    percent: 75,
    height: 75vh
  ),
  100: (
    percent: 100,
    height: 100vh
  )
);

@each $label, $map in $vertical-height-map {
  .vh-#{map-get($map, percent)} {
    height: map-get($map, height);
  }
}

.fa {
    &.fa-1 {
        font-size: 14px;
        width: 14px; height: 14px;
    }
    &.fa-2 {
        font-size: 32px;
        width: 32px; height: 32px;
    }
    &.fa-3 {
        font-size: 42px;
        width: 42px; height: 42px;
    }
    &.fa-4 {
        font-size: 56px;
        width: 56px; height: 56px;
    }
    &.fa-5 {
        font-size: 72px;
        width: 72px; height: 72px;
    }
}