$vertical-height-map: (
  25: (
    percent: 25,
    height: 25vh
  ),
  50: (
    percent: 50,
    height: 50vh
  ),
  75: (
    percent: 75,
    height: 75vh
  ),
  100: (
    percent: 100,
    height: 100vh
  )
);

@each $label, $map in $vertical-height-map {
  .vh-#{map-get($map, percent)} {
    height: map-get($map, height);
  }
}

@each $label, $map in $vertical-height-map {
    @include media-breakpoint-up(lg) {
        .lg-vh-#{map-get($map, percent)} {
            height: map-get($map, height);
        }
    }
}

$icon-size-map: (
    1: (
        key: 1,
        size: 14px,
    ),
    2: (
        key: 2,
        size: 32px,
    ),
    3: (
        key: 3,
        size: 42px,
    ),
    4: (
        key: 4,
        size: 56px,
    ),
    5: (
        key: 5,
        size: 72px,
    )
);

@each $label, $map in $icon-size-map {
    .fa-#{map-get($map, key)} {
        font-size: map-get($map, size); width: map-get($map, size); height: map-get($map, size);
    }
}

$heading-size-map: (
    5: (
        key: 5,
        font-size--sm: 1.25rem,
        font-size--lg: 1.75rem
    ),
    6: (
        key: 6,
        font-size--sm: 1rem,
        font-size--lg: 1.25rem
    )
);

@each $label, $map in $heading-size-map {
    @include media-breakpoint-up(sm) {
        .display-#{map-get($map, key)} {
            font-size: map-get($map, font-size--sm);
            font-weight: 300;
        }
    }

    @include media-breakpoint-up(lg) {
        .display-#{map-get($map, key)} {
            font-size: map-get($map, font-size--lg);
            font-weight: 300;
        }
    }
}

.minh {
    &-25 {
        min-height: 25%;
    }

    &-50 {
        min-height: 50%;
    }

    &-75 {
        min-height: 75%;
    }

    &-100 {
        min-height: 100%;
    }

    &-rem {
        &-1-25 {
            min-height: 1.25rem;
        }
    }
}

.min-max-width {
    &-1-5 {
        min-width: 1.5em;
        max-width: 1.5em;
    }

    &-2 {
        min-width: 2em;
        max-width: 2em;
    }
}

.size {
    &-absolute {
        &-fill {
            top: 0; left: 0; right: 0; bottom: 0;
        }
    }
}


.no-gutters {
    @include media-breakpoint-down(sm) {
        &-sm {
            margin-left: 0; margin-right: 0;
            padding-left: 0; padding-right: 0;
        }
    }
}