.transition {
    &-opacity {
        transition-property: opacity;
        transition-timing-function: ease-in;
    }

    &-all {
        transition-property: all;
        transition-timing-function: ease-in;
    }

    &-duration {
        &-250 {
            transition-duration: 250ms;
        }

        &-500 {
            transition-duration: 500ms;
        }
    }
}

.anim-transition {
    &-fade-up-down {
        &:not(.anim-transition-active) {
            transform: "translateY(-20%)";
            opacity: 0;
        }

        .anim-transition-active {
            transform: "translateY(0%)";
            opacity: 1;
        }

        transition: all .25s ease-in;
    }
}