@import 'variables'; 
@import './bootstrap/bootstrap';

html, body {
    cursor: default;
}

body {
    padding-bottom: 70px;
}

@import 'navbar';
@import 'sizing';

.vertical-align-middle {
    vertical-align: middle;
}

