@import 'variables'; 
@import './bootstrap/bootstrap';

html, body {
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    
    
    cursor: default;
}

body {
    display: flex;

    flex-direction: column;
}

.flex-container-full {
    flex: 1;

    display: flex;
}

.workspace-wrapper {
    margin: 0 auto;
    height: 100%;
    padding: 0px;

    box-sizing: border-box;

    .workspace-columns {
        height: 100%;

        overflow-y: hidden;
    }

    .workspace-main-wrapper {
        overflow-y: auto;
    }

    .workspace {   
        position: relative;
        
        flex: 1;

        overflow-y: auto;
    }
}

@import 'navbar';
@import 'input';
//@import 'dropdown';
@import 'shapes';

@import 'alignment';
@import 'anchors';
@import 'sizing';
@import 'colors';
@import 'display';
@import 'position';
@import 'transitions';
@import 'borders';