@import 'variables'; 
@import './bootstrap/bootstrap';

html, body {
    cursor: default;
}

@import 'navbar';
@import 'input';
//@import 'dropdown';
@import 'shapes';

@import 'alignment';
@import 'anchors';
@import 'sizing';
@import 'colors';
@import 'display';
@import 'position';
@import 'transitions';
@import 'borders';