@import './_variables';
@import '~bootstrap/scss/bootstrap';
$roboto-font-path: '~assets/fonts/roboto/';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  touch-action: manipulation;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-container-full {
  flex: 1;
  display: flex;
}

.overflow {
  &-y {
    &-auto {
      overflow-y: auto;
    }
    &-hidden {
      overflow-y: hidden;
    }
  }
}

@import 'input';
//@import 'dropdown';
@import 'shapes';
@import 'alignment';
@import 'anchors';
@import 'sizing';
@import 'colors';
@import 'display';
@import 'position';
@import 'transitions';
@import 'borders';
@import 'spacing';
@import './components/components';
