<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/sales">Sales</a></li>
    <li class="breadcrumb-item"><a href="/accounts">Accounts</a></li>
    <li class="breadcrumb-item active">{{ account?.name }}</li>
  </ol>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      
    
    </div>

    <div class="col-md-6">
      <span class="text-muted">Legal name</span> <span>{{ account?.legalName }}</span>
    </div>
  </div>
</div>