<app-page-navbar>
  <button appPageNavbarItem><fa name="bars"></fa> All accounts</button>
  <span class="page-navbar-separator"></span>
  <button appPageNavbarItem>Other action</button>
</app-page-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      
    
    </div>

    <div class="col-md-2 pl-5 justify-content-end">
      <div class="card card-block">        
        <h4 class="card-title">{{ account?.name }}</h4>
        
        <div class="card-text">
          <div class="row">
            <div class="col text-muted">
              Phone
            </div>

            <div class="col">
              {{ account?.contact?.phone }}
            </div>
          </div>

          <div class="pt-2">
            <button class="btn btn-link btn-sm align-self-start" role="button" (click)="onEditAccount()">Edit</button>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>

<app-account-editor #accountEditor [account]="account"></app-account-editor>