<navbar-header>
    <div class="container-fluid">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Company</td>
                </tr>
            </thead>

            <tbody>
                <tr role="button" *ngFor="let lead of leads" #model (click)="openLead(model.id)"> 
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.company.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</navbar-header>

<lead-details #modal></lead-details>