<nav class="main-navbar navbar navbar-inverse bg-primary mb-0 pb-0 d-flex flex-row flex-wrap flex-lg-nowrap">
    <ul class="nav nav-pills col-5">
        <ng-container *ngFor="let item of items">
            <li navbar-item *ngIf="item.mainNav && !item.children" class="nav-item" (click)="onNavItemClicked($event, item)">
                <a class="nav-link" [routerLink]="item.href" [class.active]="isNavItemShown(item)">
                    <fa *ngIf="item.faIcon" [name]="item.faIcon"></fa> <span i18n>{{ item.text }}</span>
                </a>
            </li>

            <li class="nav-item dropdown" *ngIf="item.mainNav && item.children" (click)="onNavItemClicked($event, item)">
                <a class="nav-link dropdown-toggle" href="#" (click)="onLinkClick(true)" [class.active]="isNavItemShown(item)" role="button" >
                    <fa *ngIf="item.faIcon" [name]="item.faIcon"></fa> <span i18n>{{ item.text }}</span>
                </a>
            </li>
        </ng-container>
    </ul>

    <div class="d-flex justify-content-center align-items-center hidden-md-down">
        <a class="navbar-brand display-5 pt-0" routerLink="/">
            Comdo Market Relations
        </a>
    </div>
</nav>

<ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.mainNav && item.children && isNavItemShown(item)">
        <div class="module-navbar navbar-inverse container-fluid d-flex d-flex-row">
            <ul [@navSubTransition] class="nav nav-pills">
                <ng-container *ngFor="let itemChild of item.children">
                    <li navbar-item class="nav-item">
                        <a class="nav-link" [routerLink]="itemChild.href" [routerLinkActiveOptions]="{exact:false}" routerLinkActive="active">
                            <fa *ngIf="itemChild.faIcon" [name]="itemChild.faIcon"></fa> <span i18n>{{ itemChild.text }}</span></a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </ng-container>
</ng-container>